@import"~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans");


body{
    background-image: url(../src/assets/scenic-view-of-sunset-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}